### Import libraries

In [47]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder

### Import dataset

#### Dataset Link: [UCI Machine Learning Repository](https://archive.ics.uci.edu/dataset/488/facebook+live+sellers+in+thailand)

In [48]:
df=pd.read_csv("Live.csv")
df.shape

(7050, 16)

In [49]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7050 entries, 0 to 7049
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   status_id         7050 non-null   object
 1   status_type       7050 non-null   object
 2   status_published  7050 non-null   object
 3   num_reactions     7050 non-null   int64
 4   num_comments      7050 non-null   int64
 5   num_shares        7050 non-null   int64
 6   num_likes         7050 non-null   int64
 7   num_loves         7050 non-null   int64
 8   num_wows          7050 non-null   int64
 9   num_hahas         7050 non-null   int64
 10  num_sads          7050 non-null   int64
 11  num_angrys        7050 non-null   int64
 12  Column1           0 non-null      float64
 13  Column2           0 non-null      float64
 14  Column3           0 non-null      float64
 15  Column4           0 non-null      float64
dtypes: float64(4), int64(9), object(3)
memory usage: 881.4+ KB

### Data Cleaning

In [51]:
df.drop_duplicates(inplace=True) #dropping the duplicates

In [52]:
df.isnull().sum() #checking how many null values are there in each columns

status_id              0
status_type            0
status_published       0
num_reactions          0
num_comments           0
num_shares             0
num_likes              0
num_loves              0
num_wows               0
num_hahas              0
num_sads               0
num_angrys             0
Column1             6999
Column2             6999
Column3             6999
Column4             6999
dtype: int64

In [53]:
# Removing the last four columns as they  contain null values
# Removing the status id column

df.drop(columns=["Column1","Column2","Column3","Column4","status_id"],inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6999 entries, 0 to 7049
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   status_type       6999 non-null   object
 1   status_published  6999 non-null   object
 2   num_reactions     6999 non-null   int64
 3   num_comments      6999 non-null   int64
 4   num_shares        6999 non-null   int64
 5   num_likes         6999 non-null   int64
 6   num_loves         6999 non-null   int64
 7   num_wows          6999 non-null   int64
 8   num_hahas         6999 non-null   int64
 9   num_sads          6999 non-null   int64
 10  num_angrys        6999 non-null   int64
dtypes: int64(9), object(2)
memory usage: 656.2+ KB

In [54]:
# There are now two categorical columns. Exploring them one by one
print(len(df["status_type"].unique()))
print(len(df["status_published"].unique()))

print(df["status_type"].unique())
print(df["status_published"].unique()) #kind of date and time column

4
6913
['video' 'photo' 'link' 'status']
['4/22/2018 6:00' '4/21/2018 22:45' '4/21/2018 6:17' ... '9/21/2016 23:03'
 '9/20/2016 0:43' '9/10/2016 10:30']

In [28]:
df['status_type_isvideo'] = df['status_type'].map(lambda x:1 if(x=='video') else 0)
df.drop('status_type', axis=1, inplace=True)

data=df.copy()

### Data Preprocessing

In [55]:
data=df.copy()
le=LabelEncoder()

data['status_type'] = le.fit_transform(data['status_type']) #fit_transform fits label encoder and returns encoded labels
data.info()

y=data['status_type'] #true labels
print(df["status_type"].unique())
print(data["status_type"].unique())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6999 entries, 0 to 7049
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   status_type       6999 non-null   int32
 1   status_published  6999 non-null   object
 2   num_reactions     6999 non-null   int64
 3   num_comments      6999 non-null   int64
 4   num_shares        6999 non-null   int64
 5   num_likes         6999 non-null   int64
 6   num_loves         6999 non-null   int64
 7   num_wows          6999 non-null   int64
 8   num_hahas         6999 non-null   int64
 9   num_sads          6999 non-null   int64
 10  num_angrys        6999 non-null   int64
dtypes: int32(1), int64(9), object(1)
memory usage: 628.8+ KB
['video' 'photo' 'link' 'status']
[3 1 0 2]

data

In [56]:
data['status_published'] = pd.to_datetime(data['status_published'])

In [57]:
data['year'] = data['status_published'].dt.year
data['month'] = data['status_published'].dt.month
data['dayofweek'] = data['status_published'].dt.dayofweek # 0 is Monday, 7 is Sunday.
data['hour'] = data['status_published'].dt.hour

In [58]:
data

,status_type,status_published,num_reactions,num_comments,num_shares,num_likes,num_loves,num_wows,num_hahas,num_sads,num_angrys,year,month,dayofweek,hour
0,3,2018-04-22 06:00:00,529,512,262,432,92,3,1,1,0,2018,4,6,6
1,1,2018-04-21 22:45:00,150,0,0,150,0,0,0,0,0,2018,4,5,22
2,3,2018-04-21 06:17:00,227,236,57,204,21,1,1,0,0,2018,4,5,6
3,1,2018-04-21 02:29:00,111,0,0,111,0,0,0,0,0,2018,4,5,2
4,1,2018-04-18 03:22:00,213,0,0,204,9,0,0,0,0,2018,4,2,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7045,1,2016-09-24 02:58:00,89,0,0,89,0,0,0,0,0,2016,9,5,2
7046,1,2016-09-23 11:19:00,16,0,0,14,1,0,1,0,0,2016,9,4,11
7047,1,2016-09-21 23:03:00,2,0,0,1,1,0,0,0,0,2016,9,2,23
7048,1,2016-09-20 00:43:00,351,12,22,349,2,0,0,0,0,2016,9,1,0
7049,1,2016-09-10 10:30:00,17,0,0,17,0,0,0,0,0,2016,9,5,10

In [59]:
reaction = ['num_reactions', 'num_comments', 'num_shares', 'num_likes', 'num_loves', 'num_wows', 'num_hahas',
            'num_sads', 'num_angrys'] # reaction of users.

In [60]:
before2016 = data[data['year']<=2015]
after2016 = data[data['year']>2015]

In [74]:
before2016_video=before2016[before2016["status_type"]==3].shape[0]
before2016_photo=before2016[before2016["status_type"]==1].shape[0]
before2016_link=before2016[before2016["status_type"]==0].shape[0]
before2016_status=before2016[before2016["status_type"]==2].shape[0]

print(before2016_video)
print(before2016_photo)
print(before2016_link)
print(before2016_status)

343
1220
15
81

In [61]:
before2016[reaction].describe()

,num_reactions,num_comments,num_shares,num_likes,num_loves,num_wows,num_hahas,num_sads,num_angrys
count,1659.000000,1659.000000,1659.000000,1659.000000,1659.0,1659.0,1659.0,1659.0,1659.0
mean,433.142254,13.895720,2.652200,433.142254,0.0,0.0,0.0,0.0,0.0
std,733.345816,37.182147,11.795102,733.345816,0.0,0.0,0.0,0.0,0.0
min,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0
25%,20.500000,2.000000,0.000000,20.500000,0.0,0.0,0.0,0.0,0.0
50%,51.000000,6.000000,0.000000,51.000000,0.0,0.0,0.0,0.0,0.0
75%,440.000000,13.000000,1.000000,440.000000,0.0,0.0,0.0,0.0,0.0
max,4710.000000,509.000000,122.000000,4710.000000,0.0,0.0,0.0,0.0,0.0

In [62]:
after2016[reaction].describe()

,num_reactions,num_comments,num_shares,num_likes,num_loves,num_wows,num_hahas,num_sads,num_angrys
count,5340.000000,5340.00000,5340.000000,5340.000000,5340.000000,5340.000000,5340.000000,5340.000000,5340.000000
mean,160.328464,291.30824,51.941948,140.605618,16.713109,1.642135,0.914794,0.304869,0.144382
std,290.133514,1012.89997,149.114896,256.789523,45.190381,9.957591,4.524314,1.689166,0.785198
min,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,15.000000,0.00000,0.000000,15.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,61.000000,3.00000,0.000000,58.000000,1.000000,0.000000,0.000000,0.000000,0.000000
75%,199.000000,51.00000,9.250000,165.000000,7.000000,1.000000,0.000000,0.000000,0.000000
max,4410.000000,20990.00000,3424.000000,4315.000000,657.000000,278.000000,157.000000,51.000000,31.000000

In [81]:
#ent1=before2016.groupby('status_type_isvideo')[reaction].mean()
before2016.groupby('status_type')[reaction].mean()
#ent1*ent2

,num_reactions,num_comments,num_shares,num_likes,num_loves,num_wows,num_hahas,num_sads,num_angrys
status_type,,,,,,,,,
0,1385.733333,13.266667,3.533333,1385.733333,0.0,0.0,0.0,0.0,0.0
1,291.446721,11.203279,1.597541,291.446721,0.0,0.0,0.0,0.0,0.0
2,1274.851852,30.864198,5.654321,1274.851852,0.0,0.0,0.0,0.0,0.0
3,696.702624,19.492711,5.655977,696.702624,0.0,0.0,0.0,0.0,0.0

In [82]:
after2016.groupby('status_type')[reaction].mean()

,num_reactions,num_comments,num_shares,num_likes,num_loves,num_wows,num_hahas,num_sads,num_angrys
status_type,,,,,,,,,
0,52.770833,3.333333,4.666667,52.083333,0.395833,0.250000,0.041667,0.000000,0.000000
1,124.274802,17.199074,2.852183,121.006944,1.900794,0.867394,0.262235,0.177249,0.055886
2,200.291367,38.050360,1.679856,196.165468,1.974820,1.521583,0.143885,0.453237,0.032374
3,212.127136,750.169849,134.700503,164.761307,41.674372,2.869849,2.035176,0.485427,0.297990

In [79]:
per_video=(238969/before2016_video)*100
per_photo=(1220/before2016_photo)*100
per_link=(15/before2016_link)*100
per_status=(81/before2016_status)*100

In [80]:
print(per_video)
print(per_photo)
print(per_link)
print(per_status)

69670.26239067056
100.0
100.0
100.0